.student-sections-container {
  width: 80vw;
  height: 101vh;
  margin: auto;
  margin-top: 5vh;
}

.student-upper-sections-container {
  display: flex;
}

.student-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-metrics {
  text-align: center;
}

.metrics-header {
  font-size: x-large;
}

.header {
  font-size: large;
}

.data-container {
  display: flex;
  justify-content: space-evenly;
}

.student-lower-section-container,
.student-upper-sections-container {
  width: 80vw;
}

.student-profile,
.student-metrics {
  width: 40vw;
  height: 50vh;
}

.student-techniques {
  width: 79.5vw;
  height: 49.5vh;
}

.student-profile,
.student-metrics,
.student-techniques {
  background-color: #14110F;
  border-color: #040506;
  border-style: solid;
}

.student-image {
  width: 40%;
  height: auto;
}

.student-techniques,
.student-metrics {
  overflow-y: auto;
}

.current-materials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 49.5vh;
}

.counter-container {
  display: flex;
  flex-wrap: wrap;
}

/* Need media queries and refactoring */